.icon {
  max-width: 60px;
}
.kipferl {
  max-width: 400px;
}
.zang {
  max-width: 400px;
}
.selection {
  max-width: 400px;
}
.jim-chevallier {
  max-width: 350px;
}
.marie-antoinette {
  max-width: 350px;
}
.cuisine-book {
  max-width: 400px;
}

.layers {
  max-width: 500px;
}
.ingredients {
  max-width: 500px;
}
.cronut {
  max-width: 360px;
}

.yakitate {
  max-width: 350px;
}

@media (max-width: 800px) {
  img {
    width: 100%;
  }
}
